@import "../../styles/variables";


.about {
    
    width: 100vw;
    height: 300px;
    margin-top: 80px;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-around;

    }
   
}

.about__left {
    text-align: center;

    h2 {
        font-size: 4rem;
    }
    
    p {
        font-size: 1.5rem;
    }
}

.about__right {
    max-width: 460px;
    

    p {
        font-size: 1.8rem;
    }
}