@import "../../styles/variables";

@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $mainColorForm;
}

.form {
  &__elements {
    position: relative;
    margin: 0 auto;
    max-width: 600px;

    .form-input {
      background: none;
      background-color: white;
      color: #000000;
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      display: block;
      width: 100%;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $greyColor;
      margin: 25px 0;

      &:focus {
        outline: none;
      }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
    }

    input[type='password'] {
      letter-spacing: 0.3em;
    }

    .form-input-label {
      color: $greyColor;
      font-size: 16px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      transition: 300ms ease all;

      &.shrink {
        @include shrinkLabel();

      }
    }
  }
}
